<div id="apps-portfolio" class="content-area clearfix">
	<div id="portfolio" class="portfolio-area clearfix">
	    <ul class="portfolio-list clearfix">
        {% for app in site.data.apps %}
          <li class="portfolio-item">
              <div class="portfolio-content">
                    <figure class="portfolio-cover" title="{{app.name}}">
                        <a href="{{app.url}}" target="_blank">
					                 <img class="portfolio-image" src="{{app.img}}" alt="">
                        </a>
				            </figure>
                    <h2 class="portfolio-title"><a href="{{app.url}}" target="_blank">{{app.name}}</a></h2>
                    <div class="portfolio-fields">
                        <p>
                        {{app.description}}
                        </p>
                        <a href="{{app.url}}" target="_blank">Learn More &rarr;</a>
                    </div>
              </div>
          </li>
        {% endfor %}
	    </ul>
	</div>
</div>
