<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div>
            <a class="page-link {% if page.active == 'home' %}active{% endif %}" href="{{ site.baseurl }}/">{% include svg-icons/home.html %}<span class="menu-text">Home</span></a>
            <a class="page-link {% if page.active == 'work' %}active{% endif %}" href="{{ site.baseurl }}/work/">{% include svg-icons/work.html %}<span class="menu-text">Work</span></a>
            <a class="page-link {% if page.active == 'blog' %}active{% endif %}" href="{{ site.baseurl }}/blog/">{% include svg-icons/blog.html %}<span class="menu-text">Blog</span></a>
            <a class="page-link {% if page.active == 'contact-me' %}active{% endif %}" href="{{ site.baseurl }}/contact-me/">{% include svg-icons/contact.html %}<span class="menu-text">Contact</span></a>
      </div>
    </nav>

  </div>

</header>
