/**
 * Site header
 */
.site-header {
    min-height: 56px;
}

.site-nav {
    text-align: center;
    padding-top: $spacing-unit;

    a {
        position: relative;
        color: $grey-color;
        opacity: 0.5;
    }

    svg {
        fill: $grey-color;
    }

    a:hover {
        opacity: 1;
    }

    a.active {
        color: $link-color;
        opacity: 1;

        svg {
            fill: $link-color;
        }
    }

    .page-link {
        line-height: $base-line-height;
        font-size: 12.8px;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 400;

        vertical-align: top;
        display: inline-block;
        text-align: center;
        width: auto;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: $spacing-unit;
        }

        svg {
            width: 36px;
            height: 36px;
            text-align: center;
        }

        .menu-text {
            display: block;
        }
    }


    @include media-query($on-palm) {

        .page-link {
            font-size: 12px;

            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}

.work-nav {
    width: 100%;
    text-align: center;

    .ghost-button {
        width: 33.33%;
    }

    @include media-query($on-palm) {
        .ghost-button {
            font-size: 12px;
        }
    }
}


/**
 * Site footer
 */
.site-footer {
    text-align: center;
    color: $grey-color-dark;
    opacity: 0.3;
}

.footer-credit {
    margin-top: $spacing-unit;
    @extend %vertical-rhythm;


    font-size: 12.8px;

    a {
        color: $grey-color-light;
        text-decoration: none;
        font-weight: 400;

        &:hover,&:active {
            color: $light-color;
        }
    }
}

/**
 * Page content
 */
.page-content {
    padding: 18px 0;
}

.content-wrap {
    margin-top: $spacing-unit;
    background-color: $content-background-color;

    .content-inner {
        padding: 2* $spacing-unit;

        @include media-query($on-palm) {
            padding: $spacing-unit / 1.5;
        }
    }
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
    text-align: center;
    text-transform: capitalize;
    margin-right: 8px;

    a {
        color: $grey-color;
        font-weight: 400;

        &:hover {
            color: $grey-color-light;
        }
    }
}

.post-link {
    color: $text-color;
    display: block;
}



/**
 * Posts
 */
 .posts {
    .post {
        margin-bottom: $spacing-unit * 2;
    }
 }

.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    text-align: center;
}

.post-content {
    margin-left: auto;
    margin-right: auto;
}

.readable-content-wrap {
    max-width: $readable-content-width;
}

.post-summary {
    margin: $spacing-unit auto;
    color: $grey-color-dark;
}

.read-more {
    font-size: 14px;
}


.rss-subscribe a {
    color: $grey-color-light;

    svg {
        fill: darken($grey-color-light, 6%);
        margin-right: 3px;
    }
}

.share-page {
    text-align: center;
    color: $grey-color-dark;
    margin-top: $spacing-unit;
    @extend %vertical-rhythm;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    padding: 6px 12px;

    svg {
        fill: lighten($grey-color-light, 6%);
    }
}

ul.category-posts {
    margin-left: 0;

    li {
        margin-bottom: $spacing-unit /2;
        color: $grey-color;
    }
}

/* Social Media Icons */

.social-media-list {
    .footer-social-link {
        text-decoration: none;

        // Gaps between nav items, but not on the first one
        &:not(:first-child) {
            margin-left: $spacing-unit / 3;
        }

        svg {
            fill: lighten($grey-color-light, 5%);
            width: 21px;
            height: 21px;
            text-align: center;
        }
    }
}

/* Front Page */
#persona {
    height: 424px;
    position: relative;

    @include media-query($on-laptop) {
        height: auto;
    }
}


#persona header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: -moz-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
    background: linear-gradient(45deg,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    @include media-query($on-laptop) {
        background: transparent;
        position: relative;
        margin-left: 0;
        padding: $spacing-unit / 1.5;
    }

    h1 {
        position: absolute;
        left: $spacing-unit * 1.8;
        bottom: 50%;
        margin: 0;
        margin-right: 365px;
        color: $light-color;
        opacity: 0.7;
        font-weight: 300;

        @include media-query($on-laptop) {
            color: $text-color;
            font-weight: 400;
            position: relative;
            left: 0;
            margin-right: 0;
            text-align: center;
        }
    }

    p {
        position: absolute;
        left: $spacing-unit * 1.8;
        top: 50%;
        margin-right: 365px;
        font-size: 20px;
        margin-top: 0;
        color: $light-color;
        opacity: 0.8;
        font-weight: 300;

        @include media-query($on-laptop) {
            color: $grey-color-dark;
            font-weight: 400;
            position: relative;
            text-align: center;
            font-size: 16px;
            margin-right: 0;
            left: 0;
        }
    }

    .social-media-list {
        position: absolute;
        left: $spacing-unit * 1.8;
        bottom: $spacing-unit * 1.4;
        margin-top: 0;

        @include media-query($on-laptop) {
            position: relative;
            text-align: center;
            bottom: 0;
            left: 0;
        }

        svg {
            fill: $grey-color-dark;
            opacity: 0.6;

            &:hover {
                fill: $grey-color;
            }
        }
    }
}

#persona img {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    text-decoration: none;

    @include media-query($on-laptop) {
            position: relative;
            width: 100%;
            height: auto;
            right: 0;
    }
}

/* Portfolio page styling */
.portfolio-area {
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit;
  max-width: 960px;
  width: 100%;
}
.portfolio-area .portfolio-list {
  padding-left: 0;
}
.portfolio-area .portfolio-item {
  margin-bottom: $spacing-unit * 2;
  padding: 0 0;
  list-style-type: none;
  height: auto;
  width: 100%;

    figure {
        margin-bottom: $spacing-unit / 2;
    }
}

.browser-mockup {
  border-top: 2em solid rgba(230, 230, 230, 0.7);
  box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
  position: relative;
  border-radius: 3px 3px 0 0
}

.browser-mockup:before {
  display: block;
  position: absolute;
  content: '';
  top: -1.25em;
  left: 1em;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: #f44;
  box-shadow: 0 0 0 2px #f44, 1.5em 0 0 2px #9b3, 3em 0 0 2px #fb5;
}

.browser-mockup.with-tab:after {
  display: block;
  position: absolute;
  content: '';
  top: -2em;
  left: 5.5em;
  width: 20%;
  height: 0em;
  border-bottom: 2em solid white;
  border-left: 0.8em solid transparent;
  border-right: 0.8em solid transparent;
}


.browser-mockup.with-url:after {
  display: block;
  position: absolute;
  content: '';
  top: -1.6em;
  left: 5.5em;
  width: calc(100% - 6em);
  height: 1.2em;
  border-radius: 2px;
  background-color: white;
}

.portfolio-area ul {
    margin: 0;
}

.portfolio-area .portfolio-content {
  text-align: left;
}
.portfolio-area .portfolio-image {
    border: 1px solid $light-color;
    padding: 7px;
    box-shadow: 0 0.1em 1em 0 rgba(0, 0, 0, 0.4);
    max-width: 100%;
}
.portfolio-area .portfolio-cover {
  width: 100%;
}
.portfolio-area .portfolio-title {
  font-size: 22px;
  text-transform: capitalize;
  vertical-align: middle;
  width: 100%;
  margin-top: $spacing-unit;
  margin-bottom: $spacing-unit / 2;
}
.portfolio-area .portfolio-fields {
    font-size: 0.9 * $base-font-size;
    margin-top: $spacing-unit / 2;
    padding-bottom: $spacing-unit / 2;
    color: $grey-color;

    p {
        margin-bottom: $spacing-unit / 2;
    }
}
.portfolio-area .portfolio-fields .field-list {
  padding: 0;
}
.portfolio-area .portfolio-fields .field-item {
  display: inline-block;
}
.portfolio-area .portfolio-fields .field-item:after {
  content: ' ,';
}
.portfolio-area .portfolio-fields .field-item:last-child:after {
  content: '';
}

/* Different styling for Websites portfolio */
.tile-portfolio {
    .portfolio-area .portfolio-item {
        background-color: $content-background-color;
        float: left;
        width: 50%;
        padding: 0px 15px;

        @include media-query($on-palm) {
            width: 100%;
        }
    }

    .portfolio-area .portfolio-image {
        border: none;
        padding: 0;
    }
}

#websites-portfolio {
    .portfolio-area .portfolio-image {
        border: none;
        padding: 0;
        box-shadow: none;
    }
}



/* Different styling for items in blog portfolio */
#blogs-portfolio {

    .portfolio-item {
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: $spacing-unit * 2;
    }

    .portfolio-cover, .portfolio-description {
        display: inline-block;
        float: left;
    }

    .portfolio-cover {
        width: 40%;
        @include media-query($on-palm) {
                float: none;
                display: block;
                width: 100%;
                height: auto;
        }
    }
    .portfolio-description {
        width: 60%;
        padding-left: $spacing-unit;

        @include media-query($on-palm) {
                float: none;
                display: block;
                width: 100%;
                height: auto;
                padding-left: 0;
        }
    }

    .portfolio-image {
        width: 100%;
        height: auto;
    }

    .portfolio-content {
      text-align: left;
    }

    .portfolio-title {
        margin-top: 0;
        font-size: $base-font-size * 1.2;
        line-height: 1;

        @include media-query($on-palm) {
                margin-top: $spacing-unit;
        }
    }

    .portfolio-fields {
        margin-bottom: $spacing-unit;
    }

    .ghost-button {
        font-size: 14px;
    }
}